*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1{
    color: brown;
}
.main1 img{
    width: 39%;
    padding: 16px 8px;
    height: 15%;
    vertical-align: top;
    transform: skew(-10deg) scale(0.9) ;
    animation: flip-images 2s ease-in-out 2s 2 alternate ;
}

.main1{
    display: inline;
    font-size: 38px;
    padding: 16px ;
    display: flex;  
    overflow: hidden; 
}

span{
    color: gray;
}

.main2 img{
    width: 39%;
    padding: 16px;
    height: 15%;
    order: 2;
    vertical-align: top;
    transform: skew(-10deg) scale(0.9) ;
    animation: flip-images 2s ease-in-out 2s 2 alternate ;
    
}

.main2{
    display:flex ;
    font-size: 38px;
    padding: 8px ;
    overflow: hidden; 
}

.main1 > .main-content1{
 display: inline-block;
 padding: 20px;
}

.main2 > .main-content2{
 padding: 20px;   
}

@keyframes flip-images{
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(170deg) skew(-10deg);
    }
    100%{
        transform: rotateY(360deg) skew(-10deg);
    }
}