*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.background{
    background-image: url(pics.jpg) ;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
    background-size: cover;

    

}

main{
    margin-top: 25%;
}

.package{
    border: 4px solid #197e34 ;
    margin: 16px 0;
    width: 85%;
    border-left: none;
    background: #1ce050;
}

.package a{
    text-decoration: none;
    color: inherit;
    padding: 24px;
    display: block;
}

.package:hover{
    border-color: red;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.5);
}
.package-subtitle{
    color: #979797;
}

.package-info{
color: #0e4f1f;
border: 1px solid #0e4f1f;
background-color: white;
padding: 16px;
}
#plus{
   background-color: rgba(213, 255, 220, 0.9); 
   float: right;
   border-right:none ;
   border-left: 4px solid #07270f;
   text-align: right;
   position: relative ;
}
.clearfix{
    clear: both;
}

#plus:hover{
    border-left-color: red
}
.recommended{
    position: absolute;
    top: 8px;
    color: white;
    background-color: red;
    padding: 8px;
}